/* General Page Styles */
.pageHeading {
    text-align: center;
    color: #333;
}

.challengeTitle {
    font-family: 'Arial', sans-serif;  
    font-weight: bold;                 
    color: #2c3e50;                   
    margin-top: 10px;                 
}

.createChallengeButton {
    background-color: blue;  /* Blue background color */
    color: white;            /* White font color */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition effect for smooth color change */
}



/* Challenge box styles */
.challengeBox {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: rgb(229, 229, 237);
}

.challengeBox:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
