/* HomePage.css */

.filters-and-content {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  width: 10px;
}

.filters-and-content .filters, .filters > div, .content {
  width: 100%;
  max-width: 100%;
}


.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 100%; 
}

.filters > div {
  flex: 1; 
}

.switch-icons {
  display: flex;
  justify-content: space-between;
  flex-grow: 0; 
}

.content {
  margin-top: 20px;
  width: 100%;
}

.create-budget-button {
  margin-top: 20px;
}
