.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #f3f4f6, #f2f6f6);
}
.register-form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
  padding: 40px;
  width: 45%;
  border-radius: 10px;
}

.register-form h2 {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  color: #17425f;
  font-size: 24px;
}

.register-form a {
  color: #3e1275 !important;
}

.register-form a:hover {
  color: black !important;
}

.register-form button {
  background-color: #17425f;
  color: white;
}

.register-form input:focus {
  border: 1px solid #17425f !important;
  color: #17425f;
}
.register-form button:hover {
  background-color: black;
  color: white;
}
